@font-face {
    font-family: "Orbitron";
    src: url(../fonts/orbitron.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter.ttf);
}

@font-face {
    font-family: "Futura PT Book";
    src: url(../fonts/futura-pt-book.otf);
}

:root {
    --color-text: #ffffff;
    --color-background: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Futura PT Book", "Inter", sans-serif;
    background-color: black;
    color: white;
}

/* Default style overrides */
button,
input {
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Components */
.window {
    border-radius: 2.1875rem 0;
    border: 0.0625rem solid rgba(255, 255, 255, 0.20);
    background: rgba(0, 140, 255, 0.44);
    box-shadow: 0.0625rem 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.25rem);
}

.window-overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.button {
    font-family: "Futura PT Book", sans-serif;
    font-size: 1.75rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 10rem;
    text-align: center;
}

range-slider {
    width: 15rem;
    height: 2.1875rem;
    --slider-height: 100%;
    --slider-color: rgba(0, 0, 0, 0.5);
    --slider-radius: 10rem;
    --thumb-size: 2.1875rem;
    position: relative;
}

range-slider::after {
    content: attr(value) "%";
    font-size: 1.35rem;
    width: max-content;
    position: absolute;
    text-align: center;
    display: inherit;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10rem;
    padding: 0 0.25rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s cubic-bezier(0.05, 0, 0, 1);
    backdrop-filter: blur(0.15rem);
}

range-slider:hover::after {
    opacity: 1;
    visibility: visible;
}

.hidden {
    display: none !important;
}

/* Landing Page */
#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
}

#landing-page h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 5rem;
    text-align: center;
}

#landing-page .button {
    color: black;
    background-color: white;
}

#landing-page video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: brightness(0.5);
}

/* Settings Page */
#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/background-1.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
}

#settings h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 4rem;
    padding: 1rem 2rem;
}

#settings-container {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 0;
}

#settings h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 2.75rem;
    margin-bottom: 1rem;
    text-align: center;
}

.settings-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 10rem;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
}

.settings-section range-slider::after {
    content: attr(data-hover) "%";
}

.settings-section button {
    padding: 0 0.5rem;
    margin: auto;
    border-radius: 10rem;
    width: 8rem;
    text-align: center;
    transition: background-color 0.2s cubic-bezier(0.05, 0, 0, 1);
    border: 0.15rem solid white;
}

.settings-section button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Achievements Page */
#achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/background-1.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
}

#achievements h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 4rem;
    padding: 1rem 2rem;
}

#achievements-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.achievement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.achievement svg {
    width: 6rem;
    aspect-ratio: 1/1;
    fill: white;
    border-radius: 12rem;
    border: 0.25rem solid white;
    padding: 0.5rem;
}

.achievement div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.achievement div h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.achievement div p {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.75);
}

.achievement div h3 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.85);
}

/* Game Page */
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/background-1.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
    position: absolute;
    bottom: 5%;
}

#text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 0.5rem;
    width: 100%;
    user-select: none;
}

#text-container h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
}

#dividing-line {
    height: 0.2rem;
    background-color: white;
    border-radius: 10rem;
    width: 100%;
}

#text-container p {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    font-kerning: none;
    text-rendering: optimizeSpeed;
}

#loading-indicator {
    width: 0.65rem;
    aspect-ratio: 1/1;
    border-radius: 0.1rem;
    transform: rotate(45deg);
    background-color: white;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    width: calc(100% + 3.5rem);
}

#button-container .button {
    transition: transform 0.2s cubic-bezier(0.05, 0, 0, 1);
}

#button-container .button:hover {
    transform: scale(1.015);
    border: 0.15rem solid rgb(255, 255, 255);
}

#button-container .button::after {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    opacity: 0;
    z-index: -1;
    border-radius: inherit;
    transition: opacity 0.2s cubic-bezier(0.05, 0, 0, 1);
}

#button-container .button:hover::after {
    opacity: 1;
}

#status-system {
    position: absolute;
    top: 5%;
    left: 3%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 1rem;
}

.status-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.status-item range-slider::part(slider) {
    pointer-events: none;
}

.status-item div {
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
    position: relative;
}

.status-item div::after {
    content: attr(data-hover);
    font-size: 1.35rem;
    width: max-content;
    position: absolute;
    text-align: center;
    display: inherit;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10rem;
    padding: 0 0.25rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s cubic-bezier(0.05, 0, 0, 1);
    backdrop-filter: blur(0.15rem);
}

.status-item div:hover::after {
    opacity: 1;
    visibility: visible;
}

#soundwave-container {
    position: absolute;
    top: 5%;
    right: calc(3% + 5rem + 1rem);
    padding: 1rem;
}

#soundwave-container h2 {
    text-align: center;
}

#soundwave-container span {
    letter-spacing: 0.3ch;
    margin-right: -0.2ch;
}

#soundwave-container canvas {
    display: block;
    width: 25rem;
    height: 9.375rem;
}

/* Navigation Sidebar */
#navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 0;
}

#navigation button {
    width: 3rem;
    aspect-ratio: 1/1;
    fill: white;
    position: relative;
}

#navigation button::after {
    content: attr(data-hover);
    font-size: 1.35rem;
    width: max-content;
    position: absolute;
    text-align: center;
    display: inherit;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10rem;
    padding: 0 0.25rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s cubic-bezier(0.05, 0, 0, 1);
    backdrop-filter: blur(0.15rem);
}

#navigation button:hover::after {
    opacity: 1;
    visibility: visible;
}