@font-face {
    font-family: "Orbitron";
    src: url(../fonts/orbitron.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter.ttf);
}

@font-face {
    font-family: "Futura PT Book";
    src: url(../fonts/futura-pt-book.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}